* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-class {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 2rem;
  border: 1px solid grey;
  gap: 2rem;
}
.plusButton {
  background-color: green;
  border-radius: 50%;
  padding: 1rem;
}
.minusButton {
  background-color: red;
  border-radius: 50%;
  padding: 1rem;
}
